
p{
  color: var(--white-color);
}

.site-name {
  display: inline-block;
  font-size: 4rem;
  font-family: 'lateef';
  font-weight: 600;
  color: var(--white-color);
  text-align: center;
  align-self: center;
}

.site-name-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.index-icon {
  width: 80px;
  margin-right: 1rem;
  object-fit: contain;
}

.yellow {
  color:var(--primary-color);
}

.index-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  
}

.index-content {
  display: flex;
  flex-direction: column;
  width: 700px;
  align-items: center;
  padding: 2rem;

}
.search-wrap {
  align-items: center;
  justify-content: center;
  min-width: 60%;
  max-width: 70%;
}
.search-input {
  display: flex;
  align-self: center;
  justify-self: center;
  padding-left: 2.5rem;
}

.search-wrap i {
  position: absolute;
  left: -12px;             /* adjust horizontally */
  top: 50%;               
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;   /* click goes through to input */
}

.suggestions {
  margin: 0px;
}

.site-tagline {
  text-align: center;
  line-height: 1.5;
}

.cta {
  font-family: 'lateef';
  font-size: 2rem;
  color: var(--white-color);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.category-btns {
  display: flex;
  transition: 0.1s;
}

.category-btn {
  font-family: 'inter';
  font-size: 0.8rem;
  font-weight: 600;
  width: 180px;
  border-radius: 8px;
  padding: 0.4rem 1rem;
  margin: 0.2rem 0.2rem;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  color: var(--bg-color);
}

.category-btn:hover {
  background-color: var(--primary-color);
}

@media (max-width: 600px) {

  .category-btns {
    flex-direction: column;
  }

  .category-btn {
    margin-bottom: 1rem;
  }

  .site-tagline {
    font-size: 0.78rem;
  }
}