/* VARIABLES */

:root {
  --bg-color: #112820;
  --primary-color: #FFD93D;
  --dark-accent-color: #0a1712;
  --white-color: #fafaf2;
  --black-color: #050c0a;
}

/* GLOBAL STYLES */

html, body {
  height: 100%;
  margin: 0;
}

body {
   background-color: var(--bg-color);
}

main {
  flex: 1;
}

body, button, p {
  font-family: 'inter';
  margin: 0;
  padding: 0;
}

.all{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.cont-parent {
  display: flex;
  justify-content: center;
}

/* HEADER/SEARCH BAR STYLES */

.header {
  width: 1fr;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-direction: row;
}

.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.site-name {
  font-size: 2rem;
  font-family: 'lateef';
  font-weight: 600;
  color: var(--white-color);
  margin: 0.8rem;
}

.yellow {
  color:var(--primary-color);
}s

.search-container {
  justify-content: right;
  flex-direction: column;
  align-items: right;
  width: 24rem;
  margin-left: 2rem;
  
}

.search-bar {
  width: 70%;
  border-radius: 8px;
  border: none;
  height: 1.5rem;
}

.suggestions {
  margin-left:1.5rem;
}

.site-name-icon {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.index-icon {
  width: 30px;
  object-fit: contain;
}

/* FOOTER STYLES */

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--dark-accent-color);
}

.footer-content{
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
  width: 700px;
}

.footer-link {
  color: rgb(129, 129, 129);
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.1s;
  margin-bottom: 0.2rem;
  width: fit-content;
  text-decoration: none;
}

.footer-link:hover {
  color: rgb(160, 160, 160);
  text-decoration: underline;
}

.copyright-info {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 0.6rem;
  color: rgb(82, 82, 82);
}

.disclaimer {
  font-size: 0.6rem;
  color: rgb(82, 82, 82);
}

@media (max-width: 650px) {
  .header-cont {
    flex-direction: column;
  }
}